.prize-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.prize-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  height: 80px;
  /* border: 1px solid #d7d7d7; */
  background: var(--primary-white);
  border-radius: 20px;
  width: 900px;
  margin-bottom: 16px;
  box-shadow: var(--card-box-shadow);
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.prize-row:hover,
.prize-row:focus,
.prize-row:active {
  transform: translateY(-2px);
}

.prize {
  display: flex;
  align-items: center;
  padding-right: 24px;
  background: var(--primary-white);
  min-width: 300px;
}

.prize h1 {
  font-size: 16px;
  width: 150px;
  background: var(--primary-white);
}

.prize-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
  background: var(--primary-white);
}

.prize-yr {
  background: var(--primary-white);
  font-size: 14px;
  font-weight: bold;
}

.prize-laureate {
  font-weight: 500;
  background: var(--primary-white);
}
.prize-laureate span {
  font-size: 14px;
  background: var(--primary-white);
}
.laureate-list {
  display: flex;
  flex-direction: column;
}
